*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overlock', cursive, sans-serif;
  line-height: 32px;
  font-size: 16px;
  width: 100%;
}
#content{
  max-width: 50.25rem;
	padding: 5rem 2rem;
  max-width: 100%;
  margin: 8rem auto;
}
h1{
  font-family: 'Nosifer', cursive, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: white;
}
h2{
  font-size: 2rem;
  text-align: left;
  border-bottom:1px solid #1b1a1a;
  margin-right: 5.5em;
  padding-top: 3rem;
}
main, footer{
  padding: .5rem;
}
header{
  display: flex;
  width: 10rem auto;
  height: 8rem;
  padding: 2rem 3rem;
  align-items: center;
  border-radius: 1rem;
  background-color: #fa8334;
} 
a:link,
a:visited,
a:active {
	color: #758bfd;
}
footer a, footer{
  text-align: center;
  background-color: auto;
  color: #f0fff0;
}
.profile-pic{
  margin-top: 8rem;
  display: flex;
  float: right;
  padding-left: 5rem;
  margin-right: -2rem;
}
.profile-pic img {
  width: 11.5rem;
	height: 17rem;
	border-radius: 1rem;
	border: 4px solid blue;
  margin-top: 60px;
}
main li {
  margin-left: 4rem;
}
footer li {
  list-style: none;
}
footer {
	width: 10rem auto;
  height: 6rem;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: left;
	border-radius: 1rem;
  background-color: #fa8334;
}
footer ul, div{
  margin-right: 11em;
}
.copy{
	font-size: 1.1rem;
}
.last-update{
  color: #78FECF;
}
/* @ PHONE SCREEN 

@media (min-width: 820px) {
	container {
		padding: 5rem;
	}

	container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	ontainer img {
		max-width: 100%;
		display: block;
	}

	.hero-image {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
		grid-template-columns: 1fr 1fr;
		padding: 0 5rem 5rem 5rem;
	}
}*/